@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: asap, san-sherif;
}

.oculto {
	display: none;
}

.img {
	width: 100%;
}

body {
	background-image: url(../imgs/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	margin-bottom: 5%;
}

header ul {
    display: flex;
    margin: 1% 0 0 0;
    padding: 0;
}

header ul li {
    list-style: none;
	margin: 0 20px;
}

header ul li a {
    position: relative;
    display: block;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    transition: .5s;
}

header ul li span {
	position: relative;
    display: block;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
}

header ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 2px;
    background: #262626;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: right;
    transition: transform .5s;
}

header ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left
}

header ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 2px;
    background: #262626;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: left;
    transition: transform .5s;
}

header ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: right
}

.menu {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1%;
}

.login {
	position: relative;
	top: -50px;
	left: -5px;
	margin-left: 80%;
	padding: 1%;
	text-align: end;
}

.saludo {
	position: relative;
    top: -23px;
    right: 22px;
	margin-left: 90%;
	font-size: 12px;
	text-align: end;
	width: 10%;
}

.cleanSOs {
	width: 50px;
	padding: 2px 1px;
	margin: auto;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 40px;
	color: white;
	background-color: crimson;
	transition: 0.5s;
}

.cleanSOs:hover {
	box-shadow: 0 0 5px red;
}

.selected {
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 40px;
	background-color: #1d90b3;
}
	
.SOs {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 2%;
	text-transform: uppercase;
}

.SO {
	margin: 0 10%;
	padding: 3px 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 40px;
	border: 2px solid #1d90b3;
	transition: 0.5s;
}

.SO:hover {
	background-color: #1d90b3;
	color: white;
	font-weight: bold;
}

.familias {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 3%;
	text-transform: uppercase;
}

.familia {
	margin: 0 5%;
	padding: 3px 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 40px;
	border: 2px solid #1d90b3;
	transition: 0.5s;
}

.familia:hover {
	background-color: #1d90b3;
	color: white;
	font-weight: bold;
}

.modelos {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 3%;
	text-transform: uppercase;
}

.modelo {
	margin: 0 5%;
	padding: 3px 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 40px;
	border: 2px solid #1d90b3;
	transition: 0.5s;
}

.modelo:hover {
	background-color: #1d90b3;
	color: white;
	font-weight: bold;
}

.searchs {
	margin: auto;
	margin-top: 5%;
	width: 60%;
	text-align: center;
}

.imagen {
	width: 15%;
	margin: auto;
}

#tabs p {
	font-size: 16px;
	font-weight: bold;
}

#tabs p span {
	font-size: 12px;
}
